body {
    margin: 0;
    padding: 0;
}

.chat{
    float: left;
    width: 30%;
    height: 100vh;
    background-color: aquamarine;
    display: block;
    overflow: hidden;
}

.chatContainer{
    overflow: scroll;
    height:90%;
}

.drawingContainer{
    height: 30%!important;
    width: 100%;
}

.messageDrawing{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: white;
}

.drawingField{
    width: 70%;
    height: 100vh;
    display: block;
    float: right;
    overflow: hidden
}

.canvas{
    width: 100%;
    height: 100%;
    background-color: yellow;
}