body {
    margin: 0;
    padding: 0;
}

.chat{
    float: left;
    min-width: 550px;
    height: 100vh;
    background-color: aquamarine;
    display: block;
    overflow: hidden;

    button{
        margin-left: 3px;
    }

    input{
        margin-top: 10px;
        width: 70%;
        margin-left: 10px;
    }

    p{
        text-align: left;
        margin-left: 10px;
    }
}

.chatContainer{
    overflow: scroll;
    z-index: 104;
    height:90%;
}

.drawingContainer{
    //height: 30%!important;
    width: 100%;
    text-align: center;
}

.messageDrawing{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: white;
}

.drawing-toolbar{
    height: 100vh; /* Full-height: remove this if you want "auto" height */
    width: 5%; /* Set the width of the sidebar */
    //position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    display: block;
    left: 30%;
    float: left;
    //z-index: 4; /* Stay on top */
    //top: 0; /* Stay at the top */
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 10px;*/
}

.toolButton{
    /*padding: 6px 8px 6px 25%;*/
    margin: 0;
    /*padding-bottom: 1px;*/
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    cursor: pointer;
    /*height: 10%;*/
    width: 93%;
    border-style: solid;
    border-color: #818181;
}

#redoContainer{
    width: 85%;
    padding-top:10%;
    padding-left: 5%;
}

#redoContainer .toolButton{
    width: 40%;
    left: 0;
    padding: 0;
    display: inline;
}

.toolButton.last{
    bottom: 50px;
    position:absolute;
}

/*SIZE MENU////////////////////////////////////////////////////////*/

#pencilMenu{
    background: rgb(98, 101, 102);
    border-style: solid;
    border-color: #818181;
    display: none;
    position: fixed;
    left: 10%;
    top: 2%;
    width: 20%;
    height: 3%;
    z-index: 3;
}

#sizeRange{
    width: 100%;
}

/*////////////////////////////////////////////////////////*/

/*COLOUR MENU/////////////////////////////////////////////*/
#btnColourContainer{
    width: 93%;
}

#colourContainer{
    background: lightblue;
    display: none;
    position: absolute;
    left: 10%;
    top: 0;
    width: 80%;
    height: 100%;
    z-index: 3;
}

#btnColour{
    background: lightgray;
    width: 100%;
    height: 100%;
}

#colourMenu{
    background: rgb(98, 101, 102);
    border-style: solid;
    border-color: #818181;
    display: none;
    position: fixed;
    left: 10%;
    top: 30%;
    width: 80%;
    height: 10%;
    z-index: 3;
}

.svgBtnColour{
    width: 0;
    height: 0;
    display:inline-block;
    background: gray;
}

.rectBtnColour{
    position:relative;
    display:block;
    width:100%;
    height:100%;
    fill: gray;
    z-index: 5;
}

/*General*/
.selected{
    border-color: red;
  }

//CANVAS ZONE///////////////////////////////////
.canvasContainer{
    //width: 1200px;
    //width: 65%;
    height: 100vh;
    display: block;
    //float: left;
    background-color: gainsboro;
    text-align: center;
    overflow: scroll;

    .buttonContainer{
        margin-right: 75px;
        margin-top: 20px;
        float: right;

        /*#saveButton{
            
        }*/

        button{
            font-size: 30px;
            margin-left: 20px;
        }
    }
}

.drawingField{
    width: 1100px;
    height: 800px;
    margin:auto;
    margin-top: 5px;
    display: block;
}

.canvas{
    width: 100%;
    height: 100%;
    background-color: yellow;
}