<div class="chat">
    <p *ngIf="isNewMessageAlertShown" class="newMessageAlert" (click)="scrollChatContainerDownForced()">NEW MESSAGE!</p>
    <!--Chat container where messages are added-->
    <div #chatContainer class="chatContainer" (scroll)="scrollChatContainerHandler()">
        <div class="drawingContainer" *ngFor='let message of messageList'>
            <div class="messageUserDataDiv">
                <!--Avatar-->
                <table *ngIf="message.avatar != null" class="avatarMessageTable">
                    <tr *ngFor='let _ of [].constructor(this.avatarSize); let rowIndex = index'>
                        <td *ngFor='let _ of [].constructor(this.avatarSize); let colIndex = index' 
                            [ngStyle]="{'background-color': message.avatar[rowIndex*this.avatarSize+colIndex]}"
                        >
                        </td>
                    </tr>
                </table>
                <!--END Avatar-->
                <b class="messageUsername">{{message.username}}</b>
                <button *ngIf="message.path != null" class="redrawButton" (click)="copyDrawingIntoCanvas(message.path)">Redraw</button>
            </div>
            <p class="messageText">{{message.text}}</p>
            <div *ngIf="message.path != null">
                <img (click)="openMessageModal(message)" (load)="scrollChatContainerDown()" class="messageDrawing" src={{message.path}}>
            </div>
            <hr class="dashed" style="width: 95%;">
        </div>
    </div>
    <input #textInput (keypress)="sendKeypressHandler($event)" [(ngModel)]="textMessageInput" class="textInput" maxlength="128" [placeholder]="'Insert your message here :-)'">
    <button #sendButton class="sendButton" (click)="sendButtonHandler()" [disabled]="!isButtonEnabled || textMessageInput === '' || usernameInput===''">Send</button>

    <div id="userDataDiv">
        <table (click)="showAvatarModal()" class="avatarChatTable" id="avatarChatTable">
            <tr *ngFor='let _ of [].constructor(this.avatarSize); let rowIndex = index'>
                <td [attr.pixelId]="rowIndex*this.avatarSize+colIndex" 
                    *ngFor='let _ of [].constructor(this.avatarSize); let colIndex = index' 
                    [ngStyle]="{'background-color': avatarPixelData[rowIndex*this.avatarSize+colIndex]}"
                >
                </td>
            </tr>
        </table>
        <p>User:<input [(ngModel)]="usernameInput" class="usernameInput" maxlength="16" (keypress)="userNameInputKeypressHandler($event);" (blur)="saveUsernameInCookie();"><span> State: {{messageState}}</span>
    </div>
</div>

<!--Toolbar-->
<div class="drawing-toolbar" id="divSideBar">
    <!--Pencil button-->
    <input #pencilButton (click)="pencilButtonClickHandler()" type="image" src="assets/img/btnBlackPencil.png" class="toolButton" id="pencilButton" 
        [style.display]="this.drawingCanvas.toolSelected == 1 ? 'none' : 'block'"/>
    <input #pencilMenuButton (click)="pencilMenuButtonClickHandler()" type="image" src="assets/img/btnPencilMenu.png" class="toolButton" id="pencilMenuButton"
        [class.selected]="this.drawingCanvas.toolSelected == 1"
        [style.display]="this.drawingCanvas.toolSelected == 1 ? 'block' : 'none'"/>
    <div #pencilMenu id="pencilMenu"
        [style.display]="this.isPencilMenuDisplayed ? 'block' : 'none'">
        <input #sizeRange [(ngModel)]="this.drawingCanvas.brushRadius" (change)="sizeRangeChangeHandler()" type="range" id="sizeRange" min="2" max="20" step="2">
    </div>

    <!--Bucket button-->
    <input (click)="bucketButtonClickHandler()" type="image" src="assets/img/btnBlackBucket.png" class="toolButton" id="bucketButton"
        [class.selected]="this.drawingCanvas.toolSelected == 2"
        [style.display]="'block'"/>

    <!--Eraser button-->
    <input #eraserButton (click)="eraserButtonClickHandler()" type="image" src="assets/img/btnEraser.png" class="toolButton" id="eraserButton"
        [style.display]="this.drawingCanvas.toolSelected == 3 ? 'none' : 'block'"/>
    <input #bombButton (click)="bombButtonClickHandler()" type="image" src="assets/img/btnBomb.png" class="toolButton" id="bombButton" style="display: none"
        [class.selected]="this.drawingCanvas.toolSelected == 3"
        [style.display]="this.drawingCanvas.toolSelected == 3 ? 'block' : 'none'"/>
    
    <input type="color" id="selectedColourPicker" #selectedColourPicker value="#000000" (change)="selectColour($event)"/>
    
    <!--Redo buttons-->
    <div id="redoContainer">
        <input (click)="undoButtonClickHandler()" type="image" src="assets/img/btnUndo.png" class="toolButton" id="undoButton"/>
        <input (click)="redoButtonClickHandler()" type="image" src="assets/img/btnRedo.png" class="toolButton" id="redoButton"/>
    </div>
</div>

<!--Drawing canvas-->
<div class='canvasContainer'>
    <app-drawing-canvas #drawingCanvas class="drawingField"></app-drawing-canvas>
    <div class="buttonContainer">
        <button (click)="saveDrawingButtonHandler()" class="saveButton">Save</button>
        <button (click)="sendDrawingButtonHandler()" class="publishButton" [disabled]="!isButtonEnabled">Publish</button>
    </div>
</div>

<!--Show drawing selected-->
<div *ngIf="messageModalVisible" class="messageModal">
    <div class="opaqueBackground" (click)="closeMessageModal()"></div>
    <div class="modalImageContainer">
        <img #modalImage src={{modalData.path}} (click)="zoomModalImage()" [ngClass]="{'zoom-in': isZoomedModalImage === true}">
    </div>
</div>

<!--Avatar editor modal-->
<div #avatarModal id="avatarModal" class="avatarModal">
    <button id="cancelAvatarChanges" (click)="hideAvatarModal()">Cancel</button>
    <div id="avatarOptions">
        <p>Selected color</p>
        <input type="color" id="avatarColourPicker" [(ngModel)]="selectedAvatarColour" (change)="selectAvatarColour($event)"/>
        <br>
        <br>
        <button (click)="fillAvatar()">Fill all with color</button>
    </div>
    <table #avatarTable class="avatarTable" id="avatarTable">
        <tr *ngFor='let _ of [].constructor(this.avatarSize); let rowIndex = index'>
            <td [attr.pixelId]="rowIndex*this.avatarSize+colIndex" 
                *ngFor='let _ of [].constructor(this.avatarSize); let colIndex = index' 
                (pointerdown)="fillAvatarPixel($event)"
                [ngStyle]="{'background-color': avatarPixelData[rowIndex*this.avatarSize+colIndex]}"
            >
            </td>
        </tr>
    </table>

    <button class="saveAvatarButton saveButton" (click)="saveAvatar()">Save Avatar</button>
</div>