<div class="chat">
    <div #chatContainer class="chatContainer">
        <div class="drawingContainer" *ngFor='let message of messageList'>
            <p>{{message.text}}</p>
            <div *ngIf="message.path != null">
                <img class="messageDrawing" src={{message.path}}>
            </div>
            <hr class="dashed">
        </div>
    </div>
    <input #textInput [(ngModel)]="textMessageInput" class="textInput">
    <button #sendButton (click)="sendButtonHandler()" [disabled]="!isButtonEnabled">Send</button>
    <button #loadButton (click)="loadButtonHandler()" [disabled]="!isButtonEnabled">Load</button>
    <!--button #sendDrawingButton (click)="sendDrawingButtonHandler()" [disabled]="!isButtonEnabled">Send Drawing</button-->
    <!--button (click)="testingFunction()">Test!</button>
    <button (click)="testingLoadFunction()">Test Load</button-->
    <p>Message State: {{messageState}}</p>
</div>

<!--Toolbar-->
<div class="drawing-toolbar" id="divSideBar">
    <!--Pencil button-->
    <input #pencilButton (click)="pencilButtonClickHandler()" type="image" src="assets/img/btnBlackPencil.png" class="toolButton" id="pencilButton" 
        [style.display]="this.drawingCanvas.toolSelected == 1 ? 'none' : 'block'"/>
    <input #pencilMenuButton (click)="pencilMenuButtonClickHandler()" type="image" src="assets/img/btnPencilMenu.png" class="toolButton" id="pencilMenuButton"
        [class.selected]="this.drawingCanvas.toolSelected == 1"
        [style.display]="this.drawingCanvas.toolSelected == 1 ? 'block' : 'none'"/>
    <div #pencilMenu id="pencilMenu"
        [style.display]="this.isPencilMenuDisplayed ? 'block' : 'none'">
        <input #sizeRange [(ngModel)]="this.drawingCanvas.brushRadius" (change)="sizeRangeChangeHandler()" type="range" id="sizeRange" min="2" max="20" step="2">
    </div>

    <!--Bucket button-->
    <input (click)="bucketButtonClickHandler()" type="image" src="assets/img/btnBlackBucket.png" class="toolButton" id="bucketButton"
        [class.selected]="this.drawingCanvas.toolSelected == 2"
        [style.display]="'block'"/>

    <!--Eraser button-->
    <input #eraserButton (click)="eraserButtonClickHandler()" type="image" src="assets/img/btnEraser.png" class="toolButton" id="eraserButton"
        [style.display]="this.drawingCanvas.toolSelected == 3 ? 'none' : 'block'"/>
    <input #bombButton (click)="bombButtonClickHandler()" type="image" src="assets/img/btnBomb.png" class="toolButton" id="bombButton" style="display: none"
        [class.selected]="this.drawingCanvas.toolSelected == 3"
        [style.display]="this.drawingCanvas.toolSelected == 3 ? 'block' : 'none'"/>

    <!--Colour button-->
    <div class="toolButton" #btnColourContainer (click)="showColoursButtonHandler()"
        [style.height]="btnColourContainer.clientWidth + 'px'"
        [style.background]="this.drawingCanvas.colourSelected"></div>
    <!--The container where colours are found-->
    <div #colourMenu id="colourMenu"
        [style.display]="isColourMenuDisplayed ? 'block' : 'none' ">
        <!--The colours to be chosen-->
        <svg *ngFor='let colour of this.drawingCanvas.getHexColours()'
            class="svgBtnColour"
            (click)="colourButtonHandler(colour)"
            [style.width]="colourButtonWidth + 'px'"
            [style.height]="colourButtonHeight + 'px'"
            [style.background]="colour"
        >{{colour}}</svg>
    </div>
    
    <!--Redo buttons-->
    <div id="redoContainer">
        <input (click)="undoButtonClickHandler()" type="image" src="assets/img/btnUndo.png" class="toolButton" id="undoButton"/>
        <input (click)="redoButtonClickHandler()" type="image" src="assets/img/btnRedo.png" class="toolButton" id="redoButton"/>
    </div>
</div>

<!--Drawing canvas-->
<div class='canvasContainer'>
    <app-drawing-canvas #drawingCanvas class="drawingField"></app-drawing-canvas>
    <div class="buttonContainer">
        <button (click)="saveDrawingButtonHandler()" class="saveButton">Save</button>
        <button (click)="sendDrawingButtonHandler()" class="publishButton" [disabled]="!isButtonEnabled">Publish</button>
    </div>
</div>
