body {
    margin: 0;
    padding: 0;
}

b,p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

input{
    border-radius: 2px;
    background-color: #2b2b2b;
    color: white;
}

button{
    cursor:pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(88, 88, 88);
  border-radius: 10px;
}

.chat{
    float: left;
    min-width: 570px;
    height: 100vh;
    display: block;
    overflow: hidden;
    position: relative;
    background-color: rgb(24, 24, 24);

    #userDataDiv{
        padding-top: 10px;
        padding-left: 10px;
        width: 100%;
        display: block;

        table{
            cursor: pointer;
            width: 40px;
            height: 40px;
            float: left;
            border-collapse: collapse;
            caret-color: transparent;

            user-select: none;
            touch-action: none;
        }

        p{
            float: left;
            width: 90%;
        }
    }

    button{
        margin-left: 3px;
    }

    .textInput{
        margin-top: 10px;
        width: 85%;
        margin-left: 10px;
    }

    .usernameInput{
        width: 40%;
        margin-left: 3px;
    }

    .sendButton{
        margin-left: 10px; 
    }

    b, p{
        display: block;
        text-align: left;
        margin-left: 10px;
    }

    .newMessageAlert{
        //position: relative;
        position: absolute;
        display: block;
        //max-width: 550px;
        //max-width: 100%;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        top: 0;
        margin: 0;
        background-color: rgb(184, 56, 6);
        cursor: pointer;
    }
}

.chatContainer{
    background-color: rgb(29, 29, 29);
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    z-index: 104;
    height:90%;

    :hover{
        background-color: rgb(39, 39, 39);
    }
}

.drawingContainer{
    //height: 30%!important;
    margin-top: 10px;
    width: 100%;
    max-width: 550px;
    overflow-wrap: break-word;
    //max-width: 600px;
    text-align: center;
}

.messageUserDataDiv{
    display: block;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 98%;
    float: left;

    .avatarMessageTable{
        width: 30px;
        height: 30px;
        float: left;
        border-collapse: collapse;
        caret-color: transparent;
        
        user-select: none;
        touch-action: none;
    }

    .messageUsername{
        float: left;
        margin-left: 10px;
        color:#909bff;
        //margin: 0;
        //width: 50%;
        //display: inline;
    }

    .redrawButton{
        //right: 10px;
        float: right;
        margin-right: 20px;
        background-color: #353535;
        color: white;
        border-radius: 2px;
        border-color: #818181;
        cursor: pointer;
        //border-color: #818181;
        height: 30px;
    }

    .redrawButton:hover{
        background-color: #464646;
    }
}

.messageText{
    display: block;
}

.messageDrawing{
    border-radius: 10px;
    max-height: 100%;
    max-width: 98%;
    object-fit: cover;
    background-color: white;
    cursor: pointer;
}

.messageModal{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;

    display: flex;
    justify-content: center;   // horizontal centering
    align-items: center;  
    overflow: scroll;
    //top: 0vh;
    //left: 0vw;
    //z-index: 10000000000000;

    .opaqueBackground{
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: gray;
        opacity: 0.7;
    }

    .modalImageContainer{
        //top: 0;
        //left: 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        //margin: auto;
        cursor: zoom-in;
    }

    .zoom-in{
        cursor: zoom-out;
        width: 70vw;
    }
}

//Avatar creation modal
.avatarModal{
    width: 800px;
    height: 700px;
    //margin-left: auto;
    position: absolute;
    //top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
    display: none;
    position: fixed;
    //z-index: 99999;
    //justify-content: center;   // horizontal centering
}

#avatarOptions{
    padding-left: 20px;
}

#avatarColourPicker{
    width: 80px;
}

#cancelAvatarChanges{
    position: absolute;
    right: 10px;
    top: 10px;
}

.avatarTable{
    cursor: pointer;
    width: 600px;
    height: 600px;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color:bisque;

    border-collapse: collapse;
    caret-color: transparent;

    user-select: none;
    touch-action: none;

    td{
        background-color: #ffffff;
        border: 1px solid black;
    }
}

.saveAvatarButton{
    height: 40px;
    left: 20px;
    bottom: 50px;
    position: absolute;
}
//END Avatar creation modal

.drawing-toolbar{
    height: 100vh; /* Full-height: remove this if you want "auto" height */
    width: 5%; /* Set the width of the sidebar */
    //position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    display: block;
    left: 30%;
    float: left;
    //z-index: 4; /* Stay on top */
    //top: 0; /* Stay at the top */
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 10px;*/
}

.toolButton{
    /*padding: 6px 8px 6px 25%;*/
    margin: 0;
    /*padding-bottom: 1px;*/
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    cursor: pointer;
    /*height: 10%;*/
    width: 93%;
    border-style: solid;
    border-color: #5c5c5c;
}

#redoContainer{
    width: 100%;
    padding-top:10%;
    //padding-left: 5%;
}

#redoContainer .toolButton{
    width: 43%;
    margin:0;
    left: 0;
    padding: 0;
    display: inline;
}

.toolButton.last{
    bottom: 50px;
    position:absolute;
}

/*SIZE MENU////////////////////////////////////////////////////////*/

#pencilMenu{
    background: rgb(98, 101, 102);
    border-style: solid;
    border-color: #818181;
    display: none;
    position: fixed;
    left: 10%;
    top: 2%;
    width: 20%;
    height: 3%;
    z-index: 3;
}

#sizeRange{
    width: 100%;
}

/*////////////////////////////////////////////////////////*/

/*COLOUR MENU/////////////////////////////////////////////*/
#selectedColourPicker{
    width: 100%;
    height: 90px;
}

/*General*/
.selected{
    border-color: red;
  }

//CANVAS ZONE///////////////////////////////////
.canvasContainer{
    //width: 1200px;
    //width: 65%;
    height: 100vh;
    display: block;
    //float: left;
    background-color: rgb(68, 68, 68);
    text-align: center;
    overflow: scroll;

    .buttonContainer{
        margin-right: 75px;
        margin-top: 20px;
        float: right;

        .saveButton{
            background-color: rgb(3, 80, 3);
        }

        .saveButton:hover{
            background-color: rgb(5, 102, 5);
        }

        .publishButton{
            background-color:#1d2dbb;
        }

        .publishButton:hover{
            background-color:#2d3cc4;
        }

        button{
            color: white;
            font-size: 25px;
            margin-left: 20px;
            cursor: pointer;
        }
    }
}

.drawingField{
    width: 1100px;
    height: 800px;
    margin:auto;
    margin-top: 35px;
    display: block;
}

.canvas{
    width: 100%;
    height: 100%;
    background-color: yellow;
}